
/* Body/Container ****************************************************** */

.container{
    padding: 50px;
    /* border: 1px solid black;
    min-height: 1000px; */
    /* background-color: aqua;
    color: aquamarine; */
    /* background-color: aliceblue; */
    /* background-color: aliceblue; */

    /* max-width: 350px; */
    /* box-sizing: border-box; */
/* display: none; */

}
.information-containers{
    height: 950px;
    overflow: auto;
    margin-top: 30px;
    display: none;
}
.information-container{
    height: 950px;
    overflow: auto;
    margin-top: 30px;

    display: none;
}

body {
    height: 100px;
    background-image: radial-gradient(#998f9a0f 30%, transparent 20%),
        radial-gradient(#dac8c812 30%, transparent 20%);

    background-position: center 0, center 100px;

    /* background-color: blue */
    /* color: aquamarine; */

    background-size: 360px 360px;


}




/* Headers ********************************************************* */

h1{
    padding: 35px;
    text-shadow: 3px 3px 3px rgb(149, 203, 203);
    /* display: none; */

}

h2{
    text-shadow: 2px 2px 4px rgb(200, 148, 195);
    padding: 30px;
    background-color: rgb(204, 229, 229);
    /* display: none; */

    
}
h5, h4, h3{
    text-shadow: 1px 1px 2px rgb(200, 148, 195);
}

.alert-warning {
    color: rgb(139, 3, 3);
}





/* Forms ********************************************************************* */

#account-form, #login-form, #rating-form{
    text-shadow: 1px 1px 1px rgb(200, 148, 195);
    background-color: aliceblue;
    width: 100%;
    padding: 45px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 350px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px  rgb(119, 136, 136);
    display: none;

    


}

 .results-form{
    text-shadow: 1px 1px 1px rgb(200, 148, 195);
    background-color: aliceblue;
    width: 100%;
    padding: 45px;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 350px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px  rgb(119, 136, 136);
    display: none;

}
.col-md-12{
padding: 5px;
}

#information-form, #pass-form{
    text-shadow: 1px 1px 1px rgb(200, 148, 195);
    background-color: aliceblue;
    width: 100%;
    padding: 45px;
    margin: 0 auto;
    margin-bottom: 25px;
    /* padding-top: 300px; */
    max-width: 350px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px  rgb(119, 136, 136);
    display: none;

}




/* images *********************************************************************** */

.imgs{
    /* border: 5px solid rgb(173, 80, 210); */
    margin: 30px;
    width: 330px;
    height: 400px;

}

/* This is the hover one */
.imgs:hover{

-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;  
}


/* .image-info{
    display: flex;
    align-items: center;
    justify-content: center;
} */



.results{
background-color: aliceblue;
    padding: 40px;
    min-height: 500px;
    min-width: 400px;
    border-bottom: 1px solid rgb(248, 227, 250);

    /* border-top: 1px solid black; */
}




/*  Tables *********************************************************/

table {
    border: 2px solid rgb(24, 72, 56);
    /* letter-spacing: 1px; */
    margin: auto;
    background-color: rgba(251, 252, 250, 0.649);
    margin-bottom: 80px;
    /* max-width: 350px; */

}

th, td{
    padding: 10px;
}


#ratings_table{
    width: 1000px;
    margin-top: 100px;
}
.ratings_row{

    border: 2px solid rgb(24, 72, 56);
    background-color: rgb(255, 255, 255)
    
}
.checked {
    color: rgb(227, 159, 169);

    }




/* Hours ************************************************************ */

#time{

    max-width: 350px;
}

.hour-info{
    /* display: flex; */
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 20px;

}
.location-hours{
    background-color: rgb(204, 229, 229);
}
.title-hours{
    /* padding: 45px; */
    padding-top: 60px;
    /* display: flex; */
}




/*  buttons ******************************************************** */

.btn{
    margin: 7px;
}

a.btn-outline-info, button.btn-outline-info{
    text-shadow: 1px 1px 1px rgb(157, 200, 200);
    background-color: rgba(255, 255, 255, 0.557);
    color: rgb(16, 15, 16);
}
/* a.btn-outline-info:hover {
    background-color: rgb(157, 200, 200);
  } */

button.btn-outline-danger{
    color: rgb(16, 15, 16);
    background-color: rgba(255, 255, 255, 0.557);
    text-shadow: 1px 1px 1px rgba(184, 7, 7, 0.657);
    /* background-color: black; */
    /* background-color: black; */

}
.btn-primary{
    margin-top: 25px;
}

a.btn-outline-success, button.btn-outline-success{
    color: rgb(16, 15, 16);
    text-shadow: 1px 1px 1px rgb(157, 200, 166);
    background-color: rgba(255, 255, 255, 0.649);
}





/* Map ********************************************************************* */

.map,
#map{
    width: 1100px;
    height: 800px;
    margin: auto;
}

#map_side{
    display: flex;
}
#sidebar {
    height: 800px;
    max-width: 350px;
    /* box-sizing: border-box; */
    overflow: auto;
    background-color: rgba(252, 252, 252, 0.959);


  }

.method{
    background-color: aliceblue;
    padding: 30px;

}






/* Footer/Navbar ******************************************************************* */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a0e9e9f4;
    /* color: white; */
    text-align: center;
}
nav{
    background-color: #a0e9e9d4;
}

#dropdownMenuButton1{
    text-shadow: 1px 1px 1px rgb(250, 84, 233);
    
    color: black;
    background-color: #a0e9e99e;

   /* background-color: rgb(226, 159, 227); */
}

/* ################################### */


.blocktext {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 500px;
    max-height: 800px;
    display: none;
    /* border-bottom: 1px solid rgb(248, 227, 250); */
    background-color: aliceblue;

    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */

}
.info{
    display: flex;
}
.info-items{
    border-bottom: 1px solid rgb(248, 227, 250);
    min-height: 120px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

    


}
a.nav-link{
    color: black;
    text-shadow: 1px 1px 1px rgb(245, 153, 235);

}

.link{
    text-decoration: none;
    color: black;
}



/*! In-progress  ******************************************************************* */


.all_results{
    padding: 20px;
    border-bottom: 1px solid rgb(248, 227, 250);
    /* border: 1px solid rgb(248, 227, 250); */

    min-height: 450px;
    /* display: none; */
}

.all{
    background-color: aliceblue;
    height: 810px;
    /* max-width: 350px; */
    /* box-sizing: border-box; */
    overflow: auto;
    margin-top: 30px;
    display: none;

}



.sml_img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top: 20px;
}
/*! In-progress  ******************************************************************* */

.scroll{
    padding: 1rem;
    max-width: 500px;
    margin: auto;
}
.img-container{
    display: flex;
    gap: 20px;
    background-color: rgba(250, 235, 215, 0.355);
    overflow: auto;
}

.img-container img{
    height: 500px;
    max-width: 400px;


}

.typeof{
    overflow: auto;
    background-color: aliceblue;
    min-height: 400px;
    margin-bottom : 40px;
    display: flex;
    
}
/* .information-container{
    display: none;
} */
.quote{
    margin-top: 100px;
    font-family: cursive;
    font-size:xx-large;
    color: rgba(0, 0, 0, 0.336);
    display: none;
 
}