<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to "NAME OF PLACE" </h1>
    <h3>Please create an account</h3>
    <form action="/homepage" method="POST"> 
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id ="first_name">

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id ="last_name">

        <label for="email">Email:</label>
        <input type="text" name="email" id ="email">

        <label for="password">Password:</label>
        <input type="password" name="password" id ="password">

        <label for="conf-password">Confirm Password:</label>
        <input type="password" name="conf-password" id ="conf-password">

        <button type="submit">Create User</button>
    </form>

    <h4>Already have an account? <a href="/login">log in</a></h4>
</body>
</html>