<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- THIS IS THE LINK TO THE STARS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Project</title>


</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Support the locals <small><sup>5000</sup></small></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if 'email' in session%}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/favorite_places">Favorites</a>
              </li>
            </ul>
          </div>
          <a class="nav-link" href="/logout">Log out</a>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarNav">
              <a class="nav-link" href="/">Create account</a>
            </div>
            
            <a class="nav-link" href="/login">Log in</a>
          {% endif%}
        </div>
      </nav>
  <!-- Show flashed messages -->
  {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}


  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}


  
</div>
<footer>
    <div class="container-fluid">
        <p>Supporting the Locals</p>

    </div>
</footer>
<!-- THIS FOR MAPS -->

</body>

</html>