{% extends 'base.html' %}



{% block body %}
<body class="text-center">
    <div class="container">
        <h1>Welcome to your favorites!</h1>
        {% for fav in favorites%}
            {% if fav.likes == True%}

                <div class="results" id="{{fav.place_ylp_id}}">
                    <h3>{{fav.name}}</h3>
                    <p>Location: {{fav.city}}</p>

                    <a  href='results/{{fav.place_ylp_id}}' class="btn btn-outline-info btn-sm">View details</a> <br>

                    <button value='{{fav.place_ylp_id}}' class="remove btn btn-outline-danger btn-sm">remove</button>
                </div>
            {% endif %}
        {% endfor%}

            <div>
            <a href="/results" class="btn btn-secondary">Back to results</a>
            </div>
        </div>

        <script src="static/js/favorites.js"></script>
</body>

{% endblock %}