{% extends 'base.html' %}

{% block body %}
<body class="text-center">
    <div class="container">
        <div>
            {% if 'email' in session %}
        <h1>Welcome {{session['first_name']}}!</h1>

            {% else %}
        <h1> Welcome! </h1> 

        <div>
            <p> Don't have an account yet? <a href="/">Create account</a></p>
        </div>
            {% endif %}

        <div id ='results-form'>
            <form action='/results' method="POST">
                <div class="col-md-12" >
                    <label for="lang-select">Choose a type:</label>

                    <select class="form-select" name="type" id="place-type">
                    <option value="Coffee">Coffee & Tea</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="bakery">Bakery</option>
                    <option value="bars">Bars</option>
                    <option value="desserts">Desserts</option>
                    <option value="floral">Floral</option>
                    </select>
            </div>
            <div class=" col-md-12">
                <label for="city"> What city:</label>
                <input class="form-control" type="text" name="location" id ="location" placeholder = "City, State" required>
            </div>
                <button type="submit" class="btn btn-primary"> Search </button>

            </form>
        </div>

        </div>

    </div>
</body>
{% endblock %}