{% extends 'base.html' %}

{% block body %}

<body class="text-center">
    

    <div class="container">
      
        <div class="main">
            <div class = 'ball'></div> 
            {% if 'email' in session %}
        <h1 class="title">Welcome {{session['first_name']}}!</h1>

            {% else %}
        <h1> Welcome! </h1> 

        <div>
            <p> Don't have an account yet? <a href="/">Create account</a></p>
        </div>
            {% endif %}
            <p class="lead"><big>Thank you for supporting your local businesses!</big> </p><br>
        
        <div class ='results-form'>
            <form action='/results' method="POST">
                <div class="col-md-12" >
                    <label for="form-select">Category:</label>

                    <select class="form-select" name="type" id="place-type">
                
                    <option value="Coffee">Coffee & Tea</option>
                    <option value="Restaurants">Restaurants</option>
                    <option value="Bakeries">Bakery</option>
                    <option value="Bars">Bars</option>
                    <option value="Desserts">Desserts</option>
                    <option value="Florals">Floral</option>
                    </select>
            </div>
            <div class=" col-md-12">
                <label for="city"> Location:</label>
                <input class="form-control" type="text" name="location" id ="location" placeholder = "City, State" required>
            </div>
                <button type="submit" class="btn btn-primary"> Search </button>

            </form>



        </div><br>
        <div class ='quote hidden'>
            <p class="quotes">" When you support a <big>Small Business</big></p> 
            <p class="quotes"> you are supporting a <big>Big Dream </big>" </p>
        </div>
        </div>
    </div>


    <script src="static/js/favorites.js"></script>
</body>
{% endblock %}