{% extends 'base.html' %}



{% block body %}
<body class="text-center">
    <div class="container">
        <h1>Add a review! </h1>
        <div class="row">
            <div id = 'rating-form'>
                <form action="/{{id}}/rating" method="post">
                <div class="col-md-12">  
                    <label for="rating"><h6>What would you rate this place?</h6></label>
                    <select  name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> / 5
                
                </div><br>

                <div class="col-md-12">  
                    <label for="comment">Comment:</label>
                    <textarea  class="form-control" name="comment" id="comment" rows="4" cols="50"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" >Rate</button>
                </form>
                </div>
        </div>

    </div>




</body>




{% endblock %}