{% extends 'base.html' %}



{% block body %}
<body class="text-center">
    <div class="container">
        <h2>Add a review for <i>{{results.name}}</i>! </h2><br>
        
        <div class="row">
            <div id = 'rating-form'>
                <form action="/{{id}}/rating" method="post">
                <div class="col-md-12">  
                    <label for="rating"><h6>What would you rate this place?</h6></label>
                    <select  name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> / 5
                
                </div><br>

                <div class="col-md-12">  
                    <label for="comment">Comment:</label>
                    <textarea  class="form-control" name="comment" id="comment" rows="4" cols="50"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" >Rate</button>
                </form>
                </div>
        </div>

        <h6>Don't want to add a review? </h6>

        <a href="/results/{{results.id}}"  class="btn btn-outline-success btn-sm"> Go Back </a>
        <a href="/{{results.id}}/viewRatings" class="btn btn-outline-success btn-sm"> View Reviews</a>
    </div>




</body>




{% endblock %}