{% extends 'base.html' %}



{% block body %}
<body class="text-center">
    <div class="container">
    <h3>Reviews for {{ratings[0].name}} </h3>


    <table id = 'ratings_table'>

        <tr class = 'ratings_row'>
            <th>Name</th>
            <th>score</th>
            <th>comment</th>
        </tr>

        {% for rating in ratings%}
        <tr class = 'ratings_row'>
            <td>{{rating.fname}} {{rating.lname[0].upper()}}.</td>
            <td>
            {% for num in range(rating.score|int)%}
            <span class="fa fa-star checked"></span>
            {% endfor %}

            {% for i in range(5 - rating.score|int ) %}
            <span class="fa fa-star"></span>
            {% endfor %}
            </td>
            <td>{{rating.comment}}</td>
        </tr>

        {%endfor%}
    </table>
    <a href="/results/{{id}}" class="btn btn-outline-success"> go back</a>

    </div>
</body>

{% endblock %}