
{% extends 'base.html' %}



{% block body %}
<body class="text-center">
    <div class="container">
        <div class="page_header">
        <h1>Support The Locals <small><sup>5000</sup></small> </h1>
        <p class="lead">Please create an account</p>
        </div>
        <div class="row">

            <div id='account-form'>
                <form action="/registration" method="POST"> 
                <div class="col-md-12">    
                    <label for="first_name">First Name:</label>
                    <input class="form-control" type="text" name="first_name" id ="first_name" required>
                </div>
                <div class="col-md-12" >
                    <label for="last_name">Last Name:</label>
                    <input class="form-control" type="text" name="last_name" id ="last_name" required>
                </div>
                <div class="col-md-12">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" id ="email" required>
                </div>
                <div class="col-md-12">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id ="password" required>
                </div>
                <div class="col-md-12">
                    <label for="conf-password">Confirm Password:</label>
                    <input class="form-control" type="password" name="conf-password" id ="conf-password" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Create User</button>
                </div>
                </form>
            </div>

        </div>

        <div>
        <p>Already have an account? <a href="/login">Log in</a></p>
        </div>
        <div>Continue as guest! <a href="/homepage"> Guest</a></div>

    </div>
</body>
{% endblock %}